*	{margin: 0; padding: 0;}
/* header */
.header  {position: relative; overflow: hidden; width: 1080px; height: 120px; margin: 0 auto;}
.header h1 		{position: absolute; top: 15px; left: 0; font-family: 'Dosis', sans-serif; float: left; font-size: 24px;}
.header h1 img 	{max-width: 100px;}
.menu	{position: absolute; top: 50px; right: 0; font-family: 'Dosis', sans-serif; float: right;}
.menu li {display: inline-block; width: 115px; text-align: center;}
.menu li a  {text-decoration: none; font-size: 24px; color: #333;}
.menu li a.on {color: #005c13; font-weight: bold;}

.mobMenuWrap    {display: none;}
.mobMenu    {display: none; width:100%; height: 100%; position: fixed; background: #f6f6f6; text-align: center; z-index: 999; padding: 50% 0;}
.mobMenu>li     {padding: 0 20px 20px; border-bottom: 1px dashed #efefef; font-size: 14px; list-style: none;}
.mobMenu>li>a   {font-family: 'Dosis', sans-serif; padding:10px 0; font-weight: bold; display: block; text-decoration: none; font-size: 36px; color: #005c13;}

.mobMenuBt      {position: absolute; top:10px; right:20px; display: inline-block; z-index: 1000;}
.mobMenuBt span     {display:block; width:36px; height: 6px; background: #005c13; border-radius: 8px; margin:5px 0; overflow: hidden;}
.mobMenuBt.active .first   {transform: translateY(9px) translateX(0) rotate(45deg);}
.mobMenuBt.active .second  {opacity: 0;}
.mobMenuBt.active .third   {transform: translateY(-13px) translateX(0) rotate(-45deg);}
/* footer */
.footer		{position: relative; overflow: hidden; max-width: 1080px; height: 50px; margin: 0 auto; font-family: 'Dosis', sans-serif; line-height: 50px; border-top: 2px solid #e2e2eb;}

/* conWrap */
.conWrap	{max-width: 1080px; margin: 0 auto; min-height: 800px;}
.hello		{font-family: 'Dosis', sans-serif;}
.big		{font-size: 120px; color: #005c13; font-weight: bold;}
.small		{font-size: 64px;}

.pofol		{margin-top: 80px;}

.viewCaption	{ display: inline-block; position:relative; padding:30px 0 30px 570px; width:calc(100% - 570px); }

.viewCaption .slide			{ position:absolute; top:20px; left:0; padding:20px 20px 100px; width:calc(100% - 550px); min-height:500px; background: url(../img/monitor.png) 0 0 no-repeat / 100% auto; }
.view		{ width:100%; overflow: hidden; position:relative; }
.view .slick-list	{width: 100%; overflow: hidden; }
.view .slick-slide	{float: left; }
.view .slick-slide img 	{ width:100%; }
.view .slick-arrow	{width: 20px; height: 36px; position: absolute; top: 165px; overflow: hidden; text-indent: -100px; border-style: none; z-index: 8; outline: none; cursor: pointer;}
.view .slick-prev	{background: url(../img/pre.png) 0 0 no-repeat; left: 25px;}
.view .slick-next	{background: url(../img/next.png) 0 0 no-repeat; left: 490px;}


.caption	{display: inline-block; margin-left: 50px; font-family: 'Noto Sans KR', sans-serif; min-height:500px;}
.pjName		{font-size: 28px; padding-bottom: 30px;}
.pjName p   {font-weight: bold; color: #005c13; display: inline-block;}
.pjName span {padding-left: 5px;}

.pjSpec		{padding-bottom: 30px; overflow: hidden;}
.pjSpec li  {list-style: none; line-height: 32px; overflow: hidden;}
.pjSpec li strong   {display: inline-block; min-width: 150px; float: left;}
.pjSpec li span   {float: left;}

.pjIntro	{padding-bottom: 30px;}

.pjButton       {}
.btDropdown    {position: relative; display: inline-block;}
.trigger        {text-align: center; background: #005c13; color: #fff; text-decoration: none; padding: 5px 15px; min-width: 85px; display: inline-block;}
.hideDropdown      {background: #fff; min-width: 113px;  text-align: center; z-index: 99; display: none; overflow: hidden; position: absolute; top: 100%; left:0; border: 1px solid #005c13;}
.dropdownItem  {list-style: none; border-bottom: 1px solid #005c13;}
.dropdownItem:last-child	{border-bottom: 0;}
.dropdownItem a        {color: #005c13; display: block; position: relative; font-size: 16px; text-decoration: none; padding: 5px 0;}
.bt   {display: inline-block; text-align: center; background: #005c13; padding: 5px 15px; min-width: 85px;}
.bt a {color: #fff; text-decoration: none;}




/* @media (max-width:1080px) {
	.header  {overflow: hidden; width: 100%; height: auto;}
	.header h1 		{position: static; padding: 10px 0 0 10px;}
	.header h1 img 	{max-width: 60px;}
	.menu	{position: absolute; top: 50px; right: 0; font-family: 'Dosis', sans-serif; float: right;}
	.menu li {display: inline-block; width: 115px; text-align: center;}
	.menu li a  {text-decoration: none; font-size: 24px; color: #333;}
	.menu li a.on {color: #005c13; font-weight: bold;}


	.footer		{width: 100%; height: 35px; line-height: 35px; padding-left: 10px; font-size: 14px;}

	.conWrap	{width: 100%; height: auto;}
	.hello		{padding-left: 10px;}
	.big		{font-size: 80px;}
	.small		{font-size: 42px;}

	.pofol		{margin-top: 35px;}

	.caption	{display: inline-block; float: right; width: 450px; margin-left: 50px; font-family: 'Noto Sans KR', sans-serif;}
	.pjName		{font-size: 28px; padding-bottom: 30px;}
	.pjName p   {font-weight: bold; color: #005c13; display: inline-block;}
	.pjName span {padding-left: 5px;}

	.pjSpec		{padding-bottom: 30px;}
	.pjSpec li  {list-style: none; line-height: 32px;}
	.pjSpec li strong   {display: inline-block; min-width: 150px; }

	.pjIntro	{padding-bottom: 30px;}

	.pjButton       {}
	.btDropdown    {position: relative; display: inline-block;}
	.trigger        {text-align: center; background: #005c13; color: #fff; text-decoration: none; padding: 5px 15px; min-width: 85px; display: inline-block;}
	.hideDropdown      {background: #fff; min-width: 113px;  text-align: center; z-index: 99; visibility: hidden; overflow: hidden; position: absolute; top: 100%; left:0;}
	.hideDropdown.show    {display: block; visibility: visible; border: 1px solid #005c13;}
	.dropdownItem  {list-style: none; border-bottom: 1px solid #005c13;}
	.dropdownItem:last-child	{border-bottom: 0;}
	.dropdownItem a        {color: #005c13; display: block; position: relative; font-size: 16px; text-decoration: none; padding: 5px 0;}
	.bt   {display: inline-block; text-align: center; background: #005c13; padding: 5px 15px; min-width: 85px;}
	.bt a {color: #fff; text-decoration: none;}

}

@media (max-width:640px) {
	.header h1 img 	{max-width: 40px;}
	.menu	 {display: none;}    
    .mobMenuWrap {display: block;}
    
	.footer		{height: 20px; line-height: 20px; padding-left: 10px; font-size:12px;}

	.big		{font-size: 40px;}
	.small		{font-size: 20px;}


}*/
