.number     {display: inline-block; margin: 80px 100px 0 0; float: left;}
.spec       {width: 100%; margin-top: 80px;}
.spec p     {display: inline-block; line-height: 35px;}
.spec strong    {display: inline-block; min-width: 160px; float: left; font-family: 'Noto Sans KR', sans-serif;}
.spec span {display: inline-block; float: left; font-family: 'Noto Sans KR', sans-serif;}

.about		{width: 100%; margin-top: 80px; margin-bottom: 80px; display: inline-block;}
.about span {display: inline-block; font-family: 'Noto Sans KR', sans-serif;}

