.about		{width: 100%; margin-top: 80px;}
.about span {display: inline-block; width: 500px; font-family: 'Noto Sans KR', sans-serif;}


.number     {display: inline-block; margin: 80px 100px 0 0; float: left;}